{% extends "@FOSUser/layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
    <style>
        body { background-image: url("/img/home9.jpg"); background-repeat:no-repeat;  background-size: cover; width: 100%;
            height: 400px;}
    </style>
{% endblock %}


    {% block fos_user_content  %}
    {% trans_default_domain 'FOSUserBundle' %}
   


<main class="container">
 
    <h1>Inscription</h1>
    
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
   
        {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-secondary" value="{{ 'registration.submit'|trans }}" />
    </div>
    {{ form_end(form) }}
</main>

{% endblock fos_user_content %}

