{% extends 'base.html.twig' %}

{% block body %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/recette.css') }}">

{% endblock %}
<main class="container">
        <h1>{{ recette.title }}</h1>
        <div class="metadata">Ajouter le {{ recette.createdAt | date ('d/m/y') }} Catégorie Recette Salées.</div>
        <div class="content"></div>
        <img src="{{ vich_uploader_asset(recette, 'imageFile') | imagine_filter('medium') }}" alt="card-img-top">
        

        <div class="content">{{ recette.content | raw }}</div>
    
        <div class="ingredients"><i class="fas fa-book"> Ingredients: </i><ul class="list">
            
         {{ recette.ingredients | raw }}  </ul>
        
        </div>
              
           <div class="preparation"><i class="fas fa-mortar-pestle"> Préparation: </i> {{ recette.preparation | raw }}</div>
              
            <div class="cuisson"> <i class="fas fa-temperature-high"> Cuisson: </i>{{ recette.cuisson | raw }}</div>
        
   
    <div id="likes">
        <span>{{ recette.likes }}</span>
        <button class="btn btn-primary" data-id="{{ recette.id }}">
            <i class="fas fa-heart"></i>
        </button>
    </div>
    
    <h2>Ajouter un commentaire</h2>
    {{ form_start(commentForm, {'attr': {'class': 'commentForm'}}) }}
    
    {{ form_widget(commentForm, {'attr': {'class': 'foo'}}) }}
    {{ form_widget(commentForm.content, {'attr': {'class': 'commentForm.content'}}) }}
    {{ form_errors(commentForm.content, {'attr': {'class': 'errors'}}) }}
    <input type="submit" value="Publier" class="btn btn-secondary">
    {{ form_end(commentForm) }}

<h3>Commentaires</h3>
    {% for comment in recette.comments %}
        <div class="ob-Commentaires">
            <div class="nom">
            {{comment.nom}}
            {{comment.prenom}}
        </div>
            <div class="ob-list"> 
                    <i class="far fa-comments"></i>
            {{comment.content}}
            </div>
        </div>
    {% endfor %}
</main>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ajax-article-likes.js') }}"></script>
    
{% endblock %}