{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>{{ recette.title }}</h2>
        <div class="metadata">Ajouter le {{ recette.createdAt | date ('d/m/y') }} à {{ recette.createdAt | date('H:i') }} dans la catégorie Recette Salées</div>
        <div class="content"></div>
        <img src="{{ vich_uploader_asset(recette, 'imageFile') | imagine_filter('medium') }}" alt="card-img-top">
        {{ recette.content | raw }}

    </article>
    <div id="likes">
        <span>{{ recette.likes }}</span>
        <button class="btn btn-primary" data-id="{{ recette.id }}">
            <i class="far fa-hand-point-right"></i>
        </button>
    </div>
    <h2>Commentaires</h2>
    {% for comment in recette.comments %}
        <div class="card">
            <div class="card-body">
                {{ comment.content }}
            </div>
        </div>
    {% endfor %}
    <h2>Ajouter un commentaire</h2>
    {{ form_start(commentForm) }}
    {{ form_widget(commentForm.content) }}
    {{ form_widget(commentForm) }}
    {{ form_errors(commentForm.content) }}
    <input type="submit" value="Publier" class="btn btn-block btn-success">
    {{ form_end(commentForm) }}



{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/ajax-article-likes.js') }}"></script>
{% endblock %}