<h1>Nouveau message provenant de "monsite.fr"</h1>

<ul>
    <li>{{ datas.firstname }} {{ datas.lastname }}</li>
    <li>{{ datas.email }}</li>
    <li>{{ datas.message }}</li>
</ul>

<p>{{ datas.message }}</p>